model:
    type: azure
    api_key: api_key
    args: 
        azure_endpoint: azure_endpoint\
        azure_deployment: model_name
        openai_api_version: api_version

auth:
    access_pw: passwd
    master_pw: master_passwd